.inline-input {
    &__input {
        outline: none;
        border-radius: 0;
        margin: 0;
        padding: 0px 0px;
        overflow: visible;
        background: transparent;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 3px solid #c5d200;
        font-family: 'Sanuk Regular';
        font-size: 1em;
        color: #c5d200;
    }
}
