.full-page-image-with-header {
    width: 100%;
    height: 100vh;
    min-height: 667px;
    max-height: 1400px;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 500px) {
        height: 100vh;
    }

    &__subtitle {
        @media screen and (max-width: 500px) {
            font-size: 1em;
        }

        @media (min-width: 501px) and (max-width: 992px) {
            font-size: 1.7em;
            line-height: 1.5em;
        }

        line-height: 1.5em;
        font-size: 2em;
        margin: 0 auto;
        color: #eee;
        font-weight: 300;
        font-family: 'Sanuk Regular', 'Courier New', serif;
        max-width: 1280px;
        padding: 20px;
    }

    &__title {
        @media (max-width: 500px) {
            font-size: 1.3em;
            padding: 20px;
        }

        @media (min-width: 501px) and (max-width: 992px) {
            font-size: 2.3em;
        }

        margin: 0 auto;
        color: #fff;
        font-size: 3em;
        font-weight: 300;
        font-family: 'Sanuk', 'Courier New', serif;
        max-width: 75%;
    }

  &__content {
    color: #fff;
  }

    .contact-form-link {
        position: absolute;
        margin: 0;
        color: #fff;
        bottom: 180px;
        left: 50%;
        transform: translateX(-50%);
    }

    .dropdown-menu {
        background-color: #333;
        color: #fff;
        height: 100vh;
    }
}
