.link {
    color: #ffffff;
    border-bottom: 2px solid #c5d200;
    text-decoration: none;

    &:hover {
        color: #c5d200;
    }

    &:visited {
        color: #ffffff;
        border-bottom: 2px solid #c5d200;
        text-decoration: none;
    }
}
